{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Our Services</h2>
      <p><a href="{% url 'home' %}">Home</a> &nbsp; / &nbsp; Services</p>
    </div>
  </div>
</section>
<section class="w3l-features-8">
       <!-- /features -->
           <div class="features py-5" id="services">
			<div class="container py-md-3">
				
					
			   <div class="fea-gd-vv text-center row">
				   	
					<div class="float-top col-lg-4 col-md-6">	
							<a href="#"><img src="{% static 'images/qit43.png' %}" class="img-responsive" alt="" style="height: 250px; width: 500px;"></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Custom Software Development</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">	
							<a href="#"><img src="{% static 'images/qit41.png' %}" class="img-responsive" alt="" style="height: 250px; width: 500px;"></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Digital Media Marketing Training</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">	
								<a href="#"><img src="{% static 'images/qit42.jpg' %}" class="img-responsive" alt="" style="height: 250px; width: 500px;"></a>
								<div class="float-lt feature-gd">	
										<h3><a href="#">Internet Distribution, Connection and Networking</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="#"><img src="{% static 'images/qit13.jpg' %}" class="img-responsive" alt="" style="height: 250px; width: 500px;"></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">It support and Asssistance</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="#"><img src="{% static 'images/qit3.jpg' %}" class="img-responsive" alt=""style="height: 250px; width: 500px;"></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Tutoring programming, Web & Mobile Apps Development</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
								<a href="#"><img src="{% static 'images/qit20.jpg' %}" class="img-responsive" alt="" style="height: 250px; width: 500px;"></a>
								<div class="float-lt feature-gd">	
										<h3><a href="#">Enterpreneurship tranning & Business Management</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>						 				 
		     	</div>  
		    </div>
          </div>
      <!-- //features -->
</section>
<section class="w3l-pricing-7" id="pricing">
  <div class="w3l-pricing-7_sur py-5">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">See Our Packages</h3>
        <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row w3l-pricing-7-gd-top pt-3 mt-5">
        <div class="col-lg-4 col-md-6 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7  pric-7-1">
            <h6>Quadrant prep</h6>
            <div class="w3l-pricing-7-top">
              <h3 class="title-sub">KSh. 10,000</h3>
              <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Intro to Programming
                  </li>
                  <li class="tick-info">
                    HTML
                  </li>
                  <li class="tick-info">
                    CSS
                  </li>
                  <li class="tick-info">
                    intro to JavaScript
                  </li>
                  <li class="tick-info">
                    Bootstrap
                  </li>
                  <li class="tick-info">
                    Git/GitHub
                  </li>
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                 <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7  pric-7-1">
            <h6>L.A.M.P Stack</h6>
            <div class="w3l-pricing-7-top">
              <h3 class="title-sub">KSh. 38,000</h3>
              <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Linux
                  </li>
                  <li class="tick-info">
                    Apache
                  </li>
                  <li class="tick-info">
                    MySQL
                  </li>
                  <li class="tick-info">
                    HyperText PreProcessor (PHP)
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                 <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4 w3l-pricing-7-gd-left active">
          <div class="w3l-pricing-7 pric-7 active">
            <h6>M.E.R.N Stack</h6>
            <div class="w3l-pricing-7-top">
              <h3 class="title-sub">KSh. 40,000</h3>
              <p>4 Months</p>
           </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    MySQL/MongoDb
                  </li>
                  <li class="tick-info">
                    Express JS
                  </li>
                  <li class="tick-info">
                    React JS
                  </li>
                  <li class="tick-info">
                    Node JS
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Python Stack</h6>
            <div class="w3l-pricing-7-top">
             <h3 class="title-sub">KSh. 40,000</h3>
             <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Python
                  </li>
                  <li class="tick-info">
                    Flask
                  </li>
                  <li class="tick-info">
                    Django
                  </li>
                  <li class="tick-info">
                    Postgres
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Mobile Dev Stack</h6>
            <div class="w3l-pricing-7-top">
             <h3 class="title-sub">KSh. 40,000</h3>
             <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Java
                  </li>
                  <li class="tick-info">
                    Android
                  </li>
                  <li class="tick-info">
                    Kortlin
                  </li>
                  <li class="tick-info">
                    Firebase
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Computer Packages</h6>
            <div class="w3l-pricing-7-top">
             <h3 class="title-sub">KSh. 4,000</h3>
             <p>1 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Intro to Computers
                  </li>
                  <li class="tick-info">
                    MS Office
                  </li>
                  <li class="tick-info">
                    MS Word
                  </li>
                  <li class="tick-info">
                    MS Excell
                  </li>
                  <li class="tick-info">
                    MS Access
                  </li>
                  <li class="tick-info">
                    MS Power Point
                  </li>
                  <li class="tick-info">
                    MS Publisher
                  </li>
                  <li class="tick-info">
                    Intro to SDLC
                  </li>
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-features-4">
	<!-- /features -->
		<div class="features py-5" id="services">
            <div class="container py-md-3">
			<div class="heading text-center mx-auto">
				<h3 class="head">Amazing Services</h3>
				<p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				  Nulla mollis dapibus nunc, ut rhoncus
				  turpis sodales quis. Integer sit amet mattis quam.</p>
			  </div>
			<div class="fea-gd-vv row mt-5 pt-3">	
			   <div class="float-lt feature-gd col-lg-4 col-md-6">	
					 <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Best Certificate</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">	
					 <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">National Awards
						</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">	
					 <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Qualifier Teacher</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>	 
			 <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Dedicated Courses</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Over 4 k Students</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-spinner" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">24 H Support</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>		 				 
		  </div>  
		 </div>
	   </div>
   <!-- //features -->
</section>
<!-- grids block 5 -->

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- //footer-28 block -->
</section>
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<!-- Template JavaScript -->
<script src="{% static 'js/all.js' %}"></script>
<!-- Smooth scrolling -->
<!-- <script src="assets/js/smoothscroll.js"></script> -->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!-- script for -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->
{% endblock %}