{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Our Services</h2>
      <p><a href="{% url 'home' %}">Home</a> &nbsp; / &nbsp; Services</p>
    </div>
  </div>
</section>
<section class="w3l-features-8">
       <!-- /features -->
           <div class="features py-5" id="services">
			<div class="container py-md-3">
				
					
			   <div class="fea-gd-vv text-center row">
				   	
					<div class="float-top col-lg-4 col-md-6">	
							<a href="#"><img src="{% static 'images/g2.jpg' %}" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Robots in Space</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">	
							<a href="#"><img src="{% static 'images/g3.jpg' %}" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Differentiated Instruction</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">	
								<a href="#"><img src="{% static 'images/g8.jpg' %}" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="#">Analysis of Principal</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="#"><img src="{% static 'images/g5.jpg' %}" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">The Sound of Silence</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-5">	
							<a href="#"><img src="{% static 'images/g6.jpg' %}" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">Formation Flying</a> </h3>
									<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-5">	
								<a href="#"><img src="{% static 'images/g7.jpg' %}" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
										<h3><a href="#">Finger Gesture</a> </h3>
										<p> Consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et.dolor sit amet </p>
									</div>
						</div>						 				 
		     	</div>  
		    </div>
          </div>
      <!-- //features -->
</section>
<section class="w3l-pricing-7" id="pricing">
  <div class="w3l-pricing-7_sur py-5">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">See Our Full-stack Programs</h3>
        <p class="my-3 head"> Join our full-stack programs and be a guru in software & app development.</p>
      </div>
      <div class="row w3l-pricing-7-gd-top pt-3 mt-5">
        <div class="col-lg-3 col-md-6 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7  pric-7-1">
            <h6>Hypertext PreProcessor (PHP)</h6>
            <div class="w3l-pricing-7-top">
              <h3 class="title-sub">40,000 Kes</h3>
              <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    PhP
                  </li>
                  <li class="tick-info">
                    PhP My-admin
                  </li>
                  <li class="tick-info">
                    Code igniter
                  </li>
                  <li class="tick-info">
                    MySQL
                  </li>
                 
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                 <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-md-0 mt-4 w3l-pricing-7-gd-left active">
          <div class="w3l-pricing-7 pric-7 active">
            <h6>JavaScript</h6>
            <div class="w3l-pricing-7-top">
              <h3 class="title-sub">40,000</h3>
              <p>4 Month</p>
           </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    JavaScript
                  </li>
                  <li class="tick-info">
                    React js/ Vue js
                  </li>
                  <li class="tick-info">
                    Node js & Express js
                  </li>
                  <li class="tick-info">
                    MongoDB
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Python</h6>
            <div class="w3l-pricing-7-top">
             <h3 class="title-sub">40,000</h3>
             <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Python
                  </li>
                  <li class="tick-info">
                    Flask
                  </li>
                  <li class="tick-info">
                    Django
                  </li>
                  <li class="tick-info">
                    Bootstrap
                  </li>
                  <li class="tick-info">
                    PostgreSQL
                  </li>
                  
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Mobile App Development</h6>
            <div class="w3l-pricing-7-top">
             <h3 class="title-sub">40,000</h3>
             <p>4 Months</p>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Java
                  </li>
                  <li class="tick-info">
                    Android
                  </li>
                  <li class="tick-info">
                    XML
                  </li>
                  <li class="tick-info">
                    SQLite
                  </li>
                  <li class="tick-info">
                    Json
                  </li>
                  <li class="tick-info">
                    NDK
                  </li>
                </ul>
              </div>
              <div class="buy-button text-center mt-5">
                <a href="{% url 'contact' %}" class="btn btn-secondary btn-theme2">
                  <div class="anim"></div><span>Request Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-features-4">
	<!-- /features -->
		<div class="features py-5" id="services">
            <div class="container py-md-3">
			<div class="heading text-center mx-auto">
				<h3 class="head">Amazing Services</h3>
				<p class="my-3 head"> We offer the best computer learning services in the whole of North-rift region</p>
			  </div>
			<div class="fea-gd-vv row mt-5 pt-3">	
			   <div class="float-lt feature-gd col-lg-4 col-md-6">	
					 <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Best Certificate</a></h5>
						<p> Our certificates are recognized by TVET hence easy to get a job </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">	
					 <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">National Awards
						</a></h5>
						<p> We were awarded the best institution of technology offering practical programming courses. </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">	
					 <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Qualified Tutors</a></h5>
						<p> We have the most qualified and experienced tutors  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>	 
			 <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Dedicated Courses</a>
						</h5>
						<p> Our courses are designed to meet the current and future demands </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Over 20 Students</a>
						</h5>
						<p> Since we are still young in the industry we still pride of having more than 20 students already graduated  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-spinner" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">24 Hour Support</a>
						</h5>
						<p> We offer 24 hours support where you can call us on our phone lines or visit our website and make any request and you will be assisted as soon as possible </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>		 				 
		  </div>  
		 </div>
	   </div>
   <!-- //features -->
</section>
<!-- grids block 5 -->

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- //footer-28 block -->
</section>
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<!-- Template JavaScript -->
<script src="{% static 'js/all.js' %}"></script>
<!-- Smooth scrolling -->
<!-- <script src="assets/js/smoothscroll.js"></script> -->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!-- script for -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->
{% endblock %}